* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: lightskyblue;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-100 {
    width: 100%;
}

.col-2 {
    width: calc(100% / 6 * 2);
    background-color: #F08080;
}

.col-n {
    width: calc(100% / 6);
    background-color: #20B2AA;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bg-gold {
    background-color: #DAA520;
}

.bg-darkblue {
    background-color: darkblue;
}

.bg-blue {
    background-color: #1E90FF;
}

.bg-pink {
    background-color: #FFC0CB;
}

.border-dash {
    border: 1px dashed black;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-green {
    background-color: #228B22;
}

.bg-lightdark {
    background-color: #23272A;
}

.bg-lightblue {
    background-color: #7FFFD4;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 15px;
}


.second-cont {
    max-width: 1000px;
    margin: auto;
    background-color: blue;
}

.bg-purple {
    background-color: #EE82EE;
}

.height300 {
    height: 300px;
}

.height600 {
    height: 600px;
}

.height70px {
    height: 70px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.button-space {
    height: 40px;
    width: 70px;
}